<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EmpleadoCTRL</servlet-name>
        <servlet-class>controlador.EmpleadoCTRL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteCTRL</servlet-name>
        <servlet-class>controlador.ClienteCTRL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OfertaCTRL</servlet-name>
        <servlet-class>controlador.OfertaCTRL</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmpleadoCTRL</servlet-name>
        <url-pattern>/EmpleadoCTRL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteCTRL</servlet-name>
        <url-pattern>/ClienteCTRL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OfertaCTRL</servlet-name>
        <url-pattern>/OfertaCTRL</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
