/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-14-2015, 03:30:40 AM
    Author     : JhonyMikel
*/

*{
    margin: 0px;
    padding: 0px;
}

/*Centrando el cuerpo*/
body{
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:#fff;
    background-color: #ffffff;
    background-image: url(imagenes/Fondo.jpg);
    background-repeat:repeat;
}
/*Crear la caja principal*/
#Contenedor{
    width: 90%;
    margin: 25px auto;
    padding: 20px;
    text-align: left;
    background-color:transparent;
    background-image:url(imagenes/transpBlue50.png);
    background-attachment:fixed;
    background-position:center;
    background-repeat:repeat;
    z-index:2;

    /*Propiedad para bordes redondeados*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}



.contenedor{
    margin-left: 30px;
    margin-right: 30px;
}

a{
    color: #fff;
}

